# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[-3:]
print(a[-3:])

[4, 5, 6]

In [4]:
# create a list of numbers from 1 to 20

new_list = list(range(1, 21))
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

another_list = list(range(2,99,2))
print(another_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [8]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def division(dividend, divisor):
    quotient = dividend/divisor
    return quotient

print(division(6,3))

2.0

In [9]:
# write a function that takes a string as input
# and return that string in all caps

def upper_case(input_string):
    return input_string.upper()

print(upper_case("hey mdst!"))

HEY MDST!

In [10]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

def fizzbuzz(): 

    nums = list(range(1,30))

    for num in nums: 
        if num % 3 == 0 and num % 5 == 0: 
            print("fizzbuzz")
        elif num % 3 == 0: 
            print("fizz")
        elif num % 5 == 0: 
            print("buzz")
        else: 
            print(num)

fizzbuzz()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29

In [12]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9    
# Greek Salad: $8
# Philly Steak: $10

menu_pricing = { 
    "Gyro" : 9, 
    "Burger" : 9,
    "Greek Salad" : 8, 
    "Philly Steak" : 10
}

for dish, price in menu_pricing.items():
    print(f"{dish}: ${price}")

Gyro: $9
Burger: $9
Greek Salad: $8
Philly Steak: $10

In [10]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd

df = pd.read_csv("../data/cereal.csv")
df.sample()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
71,Total Whole Grain,G,C,100,3,1,200,3.0,16.0,3,110,100,3,1.0,1.0,46.658844

In [12]:
# output the calories, sugars, and protein columns only of every 40th row. 
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
selected_data = df.iloc[::40][['calories','sugars','protein']]

print(selected_data)

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [13]:
# select all rows with more than and including 400 calories

import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
high_calorie = df[df['calories'] >= 400]
print(high_calorie)

              beverage_category  \
81    signature espresso drinks
83    signature espresso drinks
84    signature espresso drinks
85    signature espresso drinks
128             tazo tea drinks
214  frappuccino blended coffee
215  frappuccino blended coffee
216  frappuccino blended coffee

                                          beverage      beverage_prep  \
81   white chocolate mocha (without whipped cream)            2% Milk
83   white chocolate mocha (without whipped cream)  Venti Nonfat Milk
84   white chocolate mocha (without whipped cream)            2% Milk
85   white chocolate mocha (without whipped cream)            Soymilk
128                           tazo green tea latte            2% Milk
214              java chip (without whipped cream)  Venti Nonfat Milk
215              java chip (without whipped cream)         Whole Milk
216              java chip (without whipped cream)            Soymilk

     calories  total fat  trans fat  saturated fat  sodium  \
81        400       11.0        7.0            0.2      25
83        450        7.0        6.0            0.0      10
84        510       15.0        9.0            0.2      35
85        460       13.0        6.0            0.0       5
128       450       10.0        5.0            0.3      40
214       420        5.0        4.0            0.0       5
215       460       10.0        7.0            0.2      15
216       430        8.0        4.5            0.0       0

     total carbohydrates  cholesterol  dietary fibre  sugars  protein  \
81                   250           61              0      58     15.0
83                   310           78              0      74     19.0
84                   330           77              0      74     19.0
85                   290           70              1      64     16.0
128                  230           72              2      71     17.0
214                  340           90              2      84      7.0
215                  340           90              2      84      7.0
216                  330           88              3      80      6.0

     vitamin a  vitamin c  calcium  iron  caffeine
81          15          2       45   0.0     150.0
83          25          2       60   2.0     150.0
84          20          4       60   2.0     150.0
85          15          2       60  20.0     150.0
128         25         20       50   6.0     110.0
214         10          0       20  35.0     145.0
215          6          0       15  35.0     145.0
216          6          0       20  40.0     145.0

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?